* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS style applied to html elements */
body {
    background-color: #d9dcd6;
}
/* Styles the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Positions header and sets font size of heading 1*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes font color in "seo" of header */
header h1 span {
    color: #d9dcd6;
}

/* Sets navbar in header to specified styling and positions it to the right */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Makes navbar list without bullet points or numbers */
header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Styles links in navbar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size for paragraph content */
p {
    font-size: 16px;
}

/* Sets up display for main content section */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Breaks main content into subsections and styles/positions each subsection*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets max height for each image in the subesctions of the main content area */
main img {
    max-height: 200px;
}

/* Positions/styles the headings in the subsections of the main content area */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Positions/styles sidebar */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Positions/styles subsections of the sidebar */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Positions/styles headings of subsections of the sidebar */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positions images of subsections of the sidebar */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Positions/styles the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changes the font size of the heading in the footer section */
footer h2 {
    font-size: 20px;
}

/* Positions background photo under header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Positions two of the subsection images to the left in the main content area */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Positions one image in the subsection of the main content area to the right */
.float-right {
    float: right;
    margin-left: 25px;
}


